body {
    background: #0D0907;
    margin: 0;
  
    height: 100dvh;
    display: grid;
    place-content: center center;
  }
  
  .bounce-spin {
    background: #f5dfd8;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    aspect-ratio: 1;
    animation: rotate 6s linear infinite;
  
    img {
      display: block;
      width: 100%;
      animation: bounce 0.2s linear infinite alternate;
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes bounce {
    from {
      transform: translateY(-5%);
    }
  
    to {
      transform: translateY(10%);
    }
  }

  .play-button {
    background-color: #f5dfd8; /* Set background color to white */
    border: none; /* Remove default border */
    border-radius: 50%; /* Make the border a perfect circle */
    cursor: pointer;
    padding: 0;
    outline: none;
    position: relative;
    top: 50px;
  }

  .play-button img {
    width: 50px; /* Adjust the size of the icon */
    height: auto;
    transition: transform 0.3s ease-in-out; /* Add a transition for smooth animation */
  }

  .play-button:hover img {
    transform: scale(1.1); /* Apply a scale effect on hover */
  }
